.account-container {
    background-color: $color-white-3;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.account-heading {
    font-weight: 100;
    text-align: center;
}

.account-group {
    &-list {
        padding: 20px;
        &-item {
            display: flex;
            justify-content: space-between;
            background-color: $color-white-1;
            padding: 20px;
            &:not(:last-child) {
                border-bottom: 4px solid $color-white-2;
            }
        }
    }
}

.account-btn {
    &-update {
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:hover {
            color: $color-black-light;
        }
    }
}

.account-input {
    border: none;
    background-color: transparent;
}