.form-container {
    width: 100%;
    max-width: 600px;
    background-color: #f3f3f3;
    border: 2px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 auto;
}

.form_link {
    text-decoration: underline;
    margin-right: 1rem;
}

.form-links {
    display: flex;
    justify-content: center;
}

.form-heading {
    text-align: center;
}

.form-control {
    text-align: center;
}

.form-group {
    width: 100%;
    max-width: 450px;
    margin: 0 auto 30px;
    position: relative;
}

.form-loading {
    height: 23px;
}


@media (min-width: 600px) {
    .form-container {
        margin: 4rem auto;

    }
}

@media (min-width: 800px) {
    .form-container {
        margin: 7rem auto;

    }
}