.dashboard {
    margin: 50px;
    max-width: 1000px;
    margin: 50px auto;
}

.dashboard-container {
    padding-top: 20px;
}

.dashboard-btn {
    &-main {
        margin: 0 auto;
        display: block;
        width: 450px;
        max-width: calc(100% - 20px);
        height: 100px;
        border-bottom: 6px solid #000;
     
        z-index: 0;
    }
}

.dashboard-item {
height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   background-color: #fff;
   padding: 20px;
   border-bottom: 2px solid #eee;

   overflow: hidden;
   position: relative;
}

.dashboard-item-label {
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 10;

    &:hover {
        text-decoration: underline;
        color: #333;
    }
}

.dashboard-control-button {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    > i {
        cursor: pointer;
        border-radius: 30%;
        &:hover {
            background-color: #f3f3f3;
        }
    }

    > label {
        position: absolute;
        top: 50%;
        transform: translateY(50%);
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 16px;
    }

    &:hover {
        > label {
            display: block;
        }
    }

}
.dashboard-control-button-edit,
.dashboard-control-button-rename,
.dashboard-control-button-delete {
    flex-grow: 1;
    color: $color-white-1;
    font-weight: 200;
}

.dashboard-control-button-close {
    width: 100px;
    color: $color-white-1;
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;

    &:hover {
        font-size: 44px;   
    }
}

@media (min-width: 450px) {
    .dashboard-control-button > label {
        display: none;
    }
    .dashboard-control-button:hover > label {
        display: block;
    }
}