.dashboard-container {
    border-radius: 2px;
    padding: 20px 0;
    margin: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.dashboard-item {
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 0 20px;
    position: relative;
}

.dashboard-actions,
.dashboard-label {
    font-size: 22px;
    line-height: 100px;
    font-weight: 200;
    cursor: pointer;
    padding: 0 20px;

    &:hover {
        text-decoration: underline;
    }
}

.dashboard-actions {
    &::after {
        content: "";
        background-color: #000;
        width: 12px;
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        clip-path: polygon(0% 30%, 100% 30%, 50% 90%);
    }
}

.dashboard-control {
    background-color: pink;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}

.dashboard-control-button {
    line-height: 100px;
    text-align: center;

    cursor: pointer;
}
.dashboard-control-button-edit,
.dashboard-control-button-rename,
.dashboard-control-button-delete {
    flex-grow: 1;

    color: #fff;
    font-size: 24px;
    font-weight: 200;
}
.dashboard-control-button-edit {
    background-color: green;

    &:hover {
        background-color: lighten($color: green, $amount: 10%);
    }
}
.dashboard-control-button-delete {
    background-color: red;
    &:hover {
        background-color: lighten($color: red, $amount: 10%);
    }
}
.dashboard-control-button-rename {
    background-color: orange;
    &:hover {
        background-color: lighten($color: orange, $amount: 10%);
    }
}
.dashboard-control-button-close {
    width: 100px;
    background-color: #000;
    color: #fff;
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;

    &:hover {
        font-size: 44px;   
    }
}

.dashboard-add {
    width: 100%;
    max-width: 600px;
    margin: 50px auto 0;
    color: #fff;
    font-size: 24px;
    height: 100px;
    line-height: 100px;
    background-color: #444;


    // border-width: 2px 0 4px 0;




    &:active {
        border: none;
        // border-top: 6px solid #000;
        border-bottom: 2px solid #000;
    
    }
}