.dashboard-container {
    border-radius: 2px;
    padding: 20px 0;
    margin: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.dashboard-item {
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-white-4;
    padding: 0 20px;
    position: relative;
}

.dashboard-actions,
.dashboard-label {
    // font-size: 22px;
    line-height: 100px;
    font-weight: 200;
    cursor: pointer;
    padding: 0 20px;

    &:hover {
        text-decoration: underline;
    }
}

.dashboard-actions {
    &::after {
        content: "";
        background-color: $color-black-1;
        width: 12px;
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        clip-path: polygon(0% 30%, 100% 30%, 50% 90%);
    }
}

.dashboard-control {
    background-color: $color-pink;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}

.dashboard-control-button {
    line-height: 100px;
    text-align: center;

    cursor: pointer;
}
.dashboard-control-button-edit,
.dashboard-control-button-rename,
.dashboard-control-button-delete {
    flex-grow: 1;

    color: $color-white-1;
    // font-size: 24px;
    font-weight: 200;
}
.dashboard-control-button-edit {
    background-color: $color-green;

    &:hover {
        background-color: lighten($color: $color-green, $amount: 10%);
    }
}
.dashboard-control-button-delete {
    background-color: $color-red;
    &:hover {
        background-color: lighten($color: $color-red, $amount: 10%);
    }
}
.dashboard-control-button-rename {
    background-color: $color-orange;
    &:hover {
        background-color: lighten($color: $color-orange, $amount: 10%);
    }
}
.dashboard-control-button-close {
    width: 100px;
    background-color: $color-black-1;
    color: $color-white-1;
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;

    &:hover {
        font-size: 44px;   
    }
}

.dashboard-add {
    color: $color-white-1;
    background-color: $color-black-light;

    &:hover {
        background-color: lighten($color: $color-black-light, $amount: 4%)
    }
}