.edit-list {
    margin: 0 auto;
    padding: 10px 0;
    max-width: 1000px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // background-color: purple;
}

.edit-item {
    display: block;
    width: 200px;
    height: 300px;
    // background-color: yellow;
    background-color: #e6e6e6;
    border-radius: 3px;
    border: 1px solid #d6d6d6;

    position: relative;

    margin: 10px;

    &:hover {
        border-color: darken($color: #d6d6d6, $amount: 10%);

        .edit-content-front {
            border-color: #d9d9d9;


        }
    }
}
.edit-close {
    position: absolute;
    top: 0;
    right: 0;

    width: 35px;
    height: 35px;

    line-height: 35px;
    text-align: center;

    font-size: 35px;
    
    cursor: pointer;

    &:hover {
        color: #95141e;
    }

}

.edit-content {
    position: absolute;

    top: 35px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}


.edit-content-front,
.edit-content-back {
    display: block;

    // background: blue;
    flex-grow: 1;
    text-align: center;
    font-weight: 100;
    font-size: 26px;

    line-height: 100%;

    position: relative;

    // padding: 10px;
}

.edit-content-front {
    // background-color: blue;

    border-bottom: 1px solid #ddd;
}
.edit-content-back {
    // background-color: pink;
}

.edit-content-input {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 180px;
    text-align: center;
    background-color: transparent;
    border: none;
    padding-bottom: 10px;

    // transition: all 4s linear;


    &:focus {


        // background-color: yellow;
        border-bottom: 1px solid #000;
        outline: none;
        // transition: border 4s linear;

    }
   
}

.edit-add {
    width: 100%;
    max-width: 400px;
    height: 80px;
    margin: 30px auto 20px;
    background-color: purple;
    color: #fff;
    font-size: 24px;
}
.edit-title {
    font-weight: 100;
    font-size: 54px;
    margin: 50px 0 30px;
    text-align: center;
}