.edit-list {
    margin: 0 auto;
    padding: 10px 0;
    max-width: 1000px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.edit-item {
    display: block;
    width: 200px;
    height: 300px;
    background-color: $color-white-3;
    border-radius: 3px;
    border: 1px solid $color-white-2;
    position: relative;
    margin: 10px;
    &:hover {
        border-color: darken($color: $color-white-2, $amount: 10%);
        .edit-content-front {
            border-color: $color-white-2;
        }
    }
}
.edit-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    &:hover {
        color: $color-red-dark;
    }
}

.edit-content {
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.edit-content-front,
.edit-content-back {
    display: block;
    flex-grow: 1;
    text-align: center;
    font-weight: 100;
    line-height: 100%;
    position: relative;
}
.edit-content-front {
    border-bottom: 1px solid $color-white-3;
}
.edit-content-back {

}

.edit-content-input {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    text-align: center;
    background-color: transparent;
    border: none;
    padding-bottom: 10px;
    &:focus {
        border-bottom: 1px solid $color-black-1;
        outline: none;
    } 
}

.edit-add {
    color: $color-white-1;
    background-color: $color-black-light;
    &:hover {
        background-color: lighten($color: $color-black-light, $amount: 4%)
    }
}
.edit-title {
    font-weight: 100;
    margin: 50px 0 30px;
    text-align: center;
}