
// https://coolors.co/a31932-560a14-650d1b-95141e-201f20

header {
    background-color: #95141e;
    text-align: center;
    color: #eee;


    
    a {
        text-decoration: none;
        color: inherit;

       
    }  
}
.header-char-dark {
    color: #201f20;
    margin-left: 5px;
}

.header-heading,
.header-subheading {
    margin: 0;
}
.header-heading {
    height: 100px;
    line-height: 100px;
    font-size: 64px;
    font-weight: 100;
    letter-spacing: 8px;
}
.header-subheading {
    background-color: #a31932;
    color: #201f20;

    background-color: #201f20;
    color: #eee;

    height: 60px;
    line-height: 60px;
}
.header-btn {
    display: inline-block;
    border: none;
    border-radius: 2px;
    margin-left: 20px;

    padding: 5px 10px;
}