
// https://coolors.co/a31932-560a14-650d1b-95141e-201f20

header {
    background-color: #95141e;
    text-align: center;
    color: #eee;
    
    a {
        text-decoration: none;
        color: inherit;
    }  
}
.header-heading,
.header-subheading {
    margin: 0;
}
.header-heading {
    height: 100px;
    line-height: 100px;
    font-size: 42px;
    font-weight: 200;
}
.header-subheading {
    background-color: #a31932;
    color: #201f20;

    background-color: #201f20;
    color: #eee;

    height: 60px;
    line-height: 60px;
}