
.header {
    // background-color: #95141e;
}

.header-logo {
    font-size: 14vw;
    text-align: center;
    display: block;

    > span {
        margin-left: 5px;
    }
}

.header-subheading {
    text-align: center;
    padding: 14px 0;
    margin: 0;
}

.header-controls {
    height: 60px;
    width: 400px;
    max-width: 100%;

    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        margin: 10px;
        z-index: 0;
    }
    a {
        display: inline-block;
    }
    i {
        vertical-align: middle;
        // font-size: 6rem;
    }
}

@media (min-width: 700px) {
    .header-logo {
        font-size: 98px;
    }
}