.study-container {
    background-color: #eee;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.study-head {
    position: relative;
}
.study-subheading {
    text-align: center;
    margin: 1rem 0;
}
.study-output {
    flex-grow: 1;
    padding: 20px;
    display: contents;
    &-container {
        display: flex;
        flex-direction: column;
        height: 320px;
        max-height: 100%;
    }
    &-top,
    &-bottom {
        flex-grow: 1;
        position: relative;
        font-weight: 100;
    }
    &-text {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 50%;
        font-size: 3.2rem;

        transform: translateY(-50%);
    }
}
.study-rule {
    size: 20px;
    width: 200px;
}
.study-control {
    padding: 20px;
    &-top {
        &-container {
            display: flex;
            justify-content: center;
        }
    }
}
.study-title {
    font-weight: 200;
    text-align: center;
    margin: 20px 0;
    text-overflow: ellipsis;
    overflow: hidden; 
    padding: 0 2rem;

}
.study-count {
    position: absolute;
    right: 10px;
    top: 10px;    
}
.study-btn {
    &-study,
    &-option {
        &hover {
            background-color: lighten($color: #444, $amount: 4%)
        }
    }
    &-exit {
        background-color: #95141e;
        color: #fff;
        
        &:hover {
            background-color: lighten($color: #95141e, $amount: 4%)
        }
    }
    &-study {
        background-color: #444;
        color: #fff;
    }
    &-option {
        margin: 0 1.2rem 2rem;
        background-color: #444;
        color: #fff;
        width: 120px;
    }
}
.study-total {
    font-weight: 100;
    text-align: center;
    span {
        margin-left: 2rem;
        color: red;
    }
}
.study-list {
    padding: 20px;
    &-item {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: #fff;
        border-radius: 3px;
        margin: 0 0 20px;
        span {
            margin: 0 5px;
        }
    }
}

.study-loading {
    font-size: 4rem;
    text-align: center;
    margin-top: 12rem;
}

.study-error {
    font-size: 4rem;
    text-align: center;
    margin-top: 12rem;
}

@media (min-width: 600px) {
    .study-container {
        margin: 4rem auto;

    }
}

@media (min-width: 800px) {
    .study-container {
        margin: 7rem auto;

    }
}