$color-white-1: #fff;
$color-white-2: #eee;
$color-white-3: #ddd;
$color-white-4: #ccc;

$color-black-1: #000;
$color-black-light: #444;

$color-pink: pink;
$color-green: green;
$color-red: red;
$color-orange: orange;

$color-red-dark: #95141e;
// $color-red-dark: #a31932;